.Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  background-image: url(../../../public/images/space.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.WrapperContainer {
  max-width: 1220px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width:992px) {
  .Wrapper {
    background-size: cover;
    background-position: center;
  }
}