.Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.WrapperContainer {
  max-width: 1220px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.BackgroundImage {
  height: 660px;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

@media (max-width:992px) {
  .Wrapper {
    background-size: cover;
    background-position: center;
  }
}